<script type="text/javascript">
    inventory_events();
</script>
<div class="title_form">
    <h4>Inventario</h4>
</div>
<div class="subtitle_form">
    <p>Bienvenido a la gestión de inventario de la empresa Texas Electronics. Aquí podrás buscar y administrar los productos.</p>
</div>
<div class="d-flex justify-content-center bd-highlight">
    <div id="search_form" class="p-2 bd-highlight">
        <form class="div_form" id="search_form" method="post">
            <input type="hidden" id="function" name="function" value="search">
            <h5>Buscar producto</h5>
            <div class="form-group row">
                <label class="col-form-label col-form-label-sm">Código</label>
                <div class="col-sm-10" style="margin-left: 10px;">
                    <input type="text" id="code" name="code" class="form-control">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="button-form">
                    <button type="button" id="calculate" class="btn btn-dark" onclick="search_products();">Buscar</button>
                </div>
            </div>
            <div id="table_results" class="form-group row">
                
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center bd-highlight">
    <div id="update_form" class="p-2 bd-highlight dn">
        <div class="div_form">
            <form class="div_form" id="update_form" method="post">
                <input type="hidden" id="function" name="function" value="update">
                <h5>Actualizar producto</h5>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Código</label>
                    <div class="col-sm-10" style="margin-left: 10px;">
                        <input type="text" id="u_code" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Nombre</label>
                    <div class="col-sm-10" style="margin-left: 5px;">
                        <input type="text" id="u_name" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Marca</label>
                    <div class="col-sm-10" style="margin-left: 16px;">
                        <input type="text" id="u_brand" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row"> 
                    <label class="col-form-label col-form-label-sm">Precio</label>
                    <div class="col-sm-10" style="margin-left: 16px;">
                        <input type="number" id="u_price" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Cantidad</label>
                    <div class="col-sm-10">
                        <input type="number" id="u_quantity" class="form-control" value="">
                    </div>
                </div>
                <br>
                <div class="button-form">
                    <button type="button" id="calculate" class="btn btn-dark" onclick="update_products();">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>