<script type="text/javascript">
    inventory_events();
</script>
<div class="p-2 bd-highlight title_form" style="margin-left: 5% !important;">
    <h4>Inventario</h4>
</div>
<div style="margin-left: 15% !important;">
    <p>Bienvenido a la gestión de inventario de la empresa Texas Electronics. Aquí podrás actualizar el producto que necesites.</p>
</div>
<div class="d-flex justify-content-center bd-highlight">
    <div id="update_form" class="p-2 bd-highlight">
        <form class="div_form" id="update_form" method="post">
            <input type="hidden" id="function" name="function" value="update">
            <div class="div_form">
                <h5>Actualizar producto</h5>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Código</label>
                    <div class="col-sm-10" style="margin-left: 10px;">
                        <input type="text" id="u_code" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Nombre</label>
                    <div class="col-sm-10" style="margin-left: 5px;">
                        <input type="text" id="u_name" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Marca</label>
                    <div class="col-sm-10" style="margin-left: 16px;">
                        <input type="text" id="u_brand" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row"> 
                    <label class="col-form-label col-form-label-sm">Precio</label>
                    <div class="col-sm-10" style="margin-left: 16px;">
                        <input type="number" id="u_price" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm">Cantidad</label>
                    <div class="col-sm-10">
                        <input type="number" id="u_quantity" class="form-control" value="">
                    </div>
                </div>
                <br>
                <div class="button-form">
                    <button type="button" id="calculate" class="btn btn-dark" onclick="update_products();">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>